/* start of main styles */

body, html {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 16px;
}

.header {
  margin-top: 46px;
  padding: 1em 1em;
  background: #F5F5F5;
  text-align: center;
}

.logo {
  width: 20%;
  height: auto;
}

.title {
  font-size: 5vw;
  font-weight: 100;
  color: #7C4CAA;
  position: relative;
  top: -0.25em;
}

.tagline {
  font-size: 24px;
  padding-bottom: 1em;
}

.color-band {
  background: #CC447B;
  color: white;
}

.full-page {
  margin-top: 46px;
  background: #F5F5F5;
}

/* XXX: replace with a quantum-docs equivalent */
.content {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

/* XXX: replace with a quantum-docs equivalent */
.content.thin {
  max-width: 1000px;
}

.install-link-stip {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.github-icon-container {
  text-align: right;
}

.github-icon {
  opacity: 0.5;
  margin-right: 2em;
}

.github-icon:hover {
  opacity: 0.8;
}

.install {
  margin: 0;
  padding: 1.25em;
  text-align: center;
  background: rgba(255, 255, 255, 0.07);
}

.spacer {
  flex: 1;
}

.selling-point-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selling-point {
  margin: 0.7em;
  flex: 1 1 320px;
  text-align: center;
  background: rgba(255, 255, 255, 0.07);
}

.selling-point-title {
  font-weight: 100;
  font-size: 2em;
  padding: 0.5em;
  padding-bottom: 0;
}

.selling-point-text {
  opacity: 0.8;
  padding: 1em;
  font-size: 1.2em;
  max-width: 520px;
  margin: 0 auto;
}

.footer {
  height: 30px;
  padding: 1em 1em;
  background: #252525;
  color: white;
}


.qm-docs-summary-header {
  color: #774A8A !important;
}
.qm-docs-summary-link {
  color: #D44E7D !important;
}
.qm-docs-summary-link:hover {
  background: #D44E7D !important;
  color: white !important;
}
.qm-docs-pagination-button:focus {
  outline: solid 2px #CC447B !important;
}
