html, body {
  height: 100%;
  color: #3d3d3d;
}

h1 {
  color: rgb(105, 59, 169);
}

h2 {
  color: #555;
}

h1, h2 {
  font-weight: 100;
}

h4, h5, h6 {
  font-weight: bold;
  color: rgb(105, 59, 169);
}

body {
  background: #F0F1F3;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  /*font-size: 14px;*/
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.qm-header {
  font-size: 20px;
  font-weight: 100;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.91);
  border-bottom: solid 1px rgb(242, 242, 242);
  border-top: solid 1px rgb(242, 242, 242);
}

.qm-header-icon {
  height: 1em;
  max-height: 1em;
  width: 40px;
  display: inline-block;
  transform: translate(0, -5px);
}

.qm-header-icon img {
  position: absolute;
}

.qm-header-title {
  padding: 8px;
  color: rgb(105, 59, 169);
  border-right: solid 1px rgb(242, 242, 242);
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-left: solid 1px rgb(242, 242, 242);
  text-decoration: none;
}

.qm-header-title:hover {
  text-decoration: none;
}

.qm-header-nav {
  padding: 8px;
  color: rgb(102, 101, 101);
  padding-left: 0;
  font-size: 20px;
}

.qm-header-section {
  padding: 8px;
}

.qm-header-nav a {
  margin-right: 1em;
  margin-left: 1em;
  font-weight: 100;
  text-decoration: none;
  color: #3d3d3d;
}

.qm-header-nav a:hover {
  text-decoration: underline;
}

.qm-content {
  min-height: 100%;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 50px;
}

.qm-section, .qm-header-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /*overflow: auto;*/
}

.qm-footer {
  background: rgb(60, 60, 60);
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
}

.qm-footer-content {}

.qm-footer-note {
  margin: 0 1em;
}

.qm-tagline {
  padding: 0.5em;
  color: rgb(192, 192, 192);
  font-weight: 100;
  text-align: right;
}

.qm-accent-block {
  border-bottom: solid rgb(242, 242, 242) 1px;
  border-top: solid rgb(242, 242, 242) 1px;
  background: rgb(249, 249, 249);
  padding-top: 1em;
  padding-bottom: 1em;
}

.qm-accent-block .sk-rectangle, .qm-accent-block .sk-path {
  stroke: #444;
}

.qm-accent-block .sk-text {
  fill: #444;
}

#qm-block-1 .sk-svg {
  width: 200px;
  margin: 0 auto;
  display: block;
  height: 500px;
}

#qm-block-2 .sk-svg {
  width: 220px;
  margin: 0 auto;
  display: block;
  height: 320px;
}

.qm-banner {
  border-bottom: solid rgb(242, 242, 242) 1px;
  border-top: solid rgb(242, 242, 242) 1px;
  background: rgb(249, 249, 249);
  margin-top: 45px;
  text-align: center;
  padding-bottom: 1em;
}

.qm-banner-text {
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  color: rgb(105, 59, 169);
}

.qm-banner img {
  width: 350px;
}

.qm-infobox {
  border: solid rgb(242, 242, 242) 1px;
  background: rgb(249, 249, 249);
  padding: 1em;
  margin: 1em;
}

.hljs-params {
  color: #B75994 !important;
}

.hljs-content {
  color: #5857B4 !important;
}

.codeblock {
  background: rgb(249, 249, 249);
}

.qm-card-background {
  padding: 1em;
  margin: 0.5em 0;
  border: solid 1px #F0F0F0;
  color: #3D3D3D;
  overflow: auto;
  background: #FFF;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.17);
}

.qm-entity {
  background: rgb(249, 249, 249);
  border: solid rgb(242, 242, 242) 1px;
  border-left: solid rgba(137, 84, 188, 0.7) 3px;
  margin-left: 0.5em;
  margin: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.qm-entity .qm-entity {
  border: none;
  border-left: solid rgba(180, 87, 145, 0.7) 3px;
  padding-top: 0;
  padding-bottom: 0;
}

.qm-entity-subentites {
  padding-left: 0.5em;
}

.language-json .hljs-attribute {
  font-weight: normal;
}

.language-um .hljs-keyword {
  font-weight: normal;
}

.qm-entity .qm-entity .qm-entity-type {
  color: #B45791;
}

.qm-entity .qm-entity .qm-entity-header {
  padding-left: 0.5em;
}

.qm-entity-header {
  padding: 0.25em;
  padding-left: 1em;
}

.qm-entity-type {
  color: #8954BC;
  font-weight: bold;
}

.qm-entity-params {
  padding-left: 0.5em;
}

.qm-entity-content {
  font-style: italic;
  padding-left: 0.25em;
}

.qm-entity-description {
  margin-left: 1em;
  color: #8A8A8A;
  font-weight: 100;
}

.docs-menu-container {
  overflow: auto;
  max-width: 1080px;
  max-height: 90%;
  border: solid 5px #4B5057;
  border-top: none;
  background: #F0F1F3;
}

.docs-menu {
  background: rgba(255, 255, 255, 0.1);
}

.docs-dropdown-link {
  display: block;
}

.qm-divider {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: solid 1px #DDD;
}