@font-face {
  font-family: 'quantum-changelog-icons';
  src:  url('fonts/quantum-changelog-icons.eot?orw0yg');
  src:  url('fonts/quantum-changelog-icons.eot?orw0yg#iefix') format('embedded-opentype'),
    url('fonts/quantum-changelog-icons.ttf?orw0yg') format('truetype'),
    url('fonts/quantum-changelog-icons.woff?orw0yg') format('woff'),
    url('fonts/quantum-changelog-icons.svg?orw0yg#quantum-changelog-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="quantum-changelog-icon-"], [class*=" quantum-changelog-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'quantum-changelog-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quantum-changelog-icon-info:before {
  content: "\e88f";
}
.quantum-changelog-icon-deprecated:before {
  content: "\e14b";
}
.quantum-changelog-icon-bug-fix:before {
  content: "\e868";
}
.quantum-changelog-icon-updated:before {
  content: "\e419";
}
.quantum-changelog-icon-enhancement:before {
  content: "\e8e5";
}
.quantum-changelog-icon-added:before {
  content: "\e145";
}
.quantum-changelog-icon-removed:before {
  content: "\e888";
}
