.qm-changelog-javascript-header {
  font-weight: bold;
}

.qm-changelog-javascript-object + .qm-changelog-javascript-object:before,
.qm-changelog-javascript-object + .qm-changelog-javascript-prototype:before,
.qm-changelog-javascript-object + .qm-changelog-javascript-function:before,
.qm-changelog-javascript-object + .qm-changelog-javascript-property:before,
.qm-changelog-javascript-prototype + .qm-changelog-javascript-function:before,
.qm-changelog-javascript-prototype + .qm-changelog-javascript-object:before {
  content: '.'
}

.qm-changelog-javascript-prototype + .qm-changelog-javascript-property:before,
.qm-changelog-javascript-prototype + .qm-changelog-javascript-method:before {
  content: '::'
}
.qm-changelog-javascript-prototype + .qm-changelog-javascript-event:before {
  content: '~'
}

.qm-changelog-javascript-property .qm-changelog-javascript-type,
.qm-changelog-javascript-event .qm-changelog-javascript-type {
  display: none;
}

.qm-changelog-javascript-property:last-child .qm-changelog-javascript-type,
.qm-changelog-javascript-event:last-child .qm-changelog-javascript-type {
  display: inline;
}

.qm-changelog-javascript-params:before {
  content: '(';
}

.qm-changelog-javascript-params:after {
  content: ')';
}

.qm-changelog-javascript-param {
  font-weight: normal;
}

.qm-changelog-javascript-param:after {
  content: ', ';
}

.qm-changelog-javascript-param:last-child:after {
  content: '';
}

.qm-changelog-javascript-param-name:after {
  content: ': ';
}

.qm-changelog-javascript-type,
.qm-changelog-javascript-param-type {
  font-weight: normal;
  color: #8C8C8C;
}

.qm-changelog-javascript-type:before {
  content: ': ';
}
