/*XXX: sort out naming to be qm-api-css-xxx*/


.qm-api-css-class {}

.qm-api-css-child-class {
  border-color: #D8942A;
}

.qm-api-css-child-class > .qm-api-css-collapsible-heading .qm-api-css-collapsible-toggle {
  background-color: #D8942A;
}

.qm-api-css-extra-class {
  border-color: #98b313;
}

.qm-api-css-extra-class > .qm-api-css-collapsible-heading .qm-api-css-collapsible-toggle {
  background-color: #98b313;
}

.qm-api-css-child-class {}


.qm-api-css-header {
  font-weight: bold;
}

.qm-api-css-class:before {
  content: ' .';
}

.qm-api-css-child-class:before {
  content: ' > .';
}

.qm-api-css-extra-class:before {
  content: '.';
}
