/* start of main styles */

body, html {
  margin: 0;
  padding: 0;
  background: #fbfbfb;
  font-size: 14px;
}

.qm-header-font, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.qm-body-font {
  font-family: 'Open Sans', sans-serif;
}

.qm-code-font {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: #0b7fd8;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.header {
  padding: 1em 1em;
  text-align: center;
  background: #15668e;
  box-shadow: 0 2px 2px #CCC;
  color: white;
  margin-bottom: 10px;
}

.logo {
  width: auto;
  height: 250px;
}

.title {
  font-size: 5vw;
  font-weight: 100;
  position: relative;
  top: -0.25em;
}

.tagline {
  font-size: 24px;
  padding-bottom: 1em;
  font-family: 'Roboto Slab', serif;
}

.qm-button {
  background: #f69724;
  border-radius: 5px;
  box-shadow: 0 2px 2px #f0642a;
  color: white;
  padding: 1em 1.5em;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  position: relative;
  text-decoration: none;
}

.qm-button:hover {
  background: #f7a139;
  outline: 0;
  text-decoration: none;
}

.qm-button:active {
  box-shadow: 0 1px 1px #f0642a;
  top: 1px;
}

.get-started {
  margin: 0 auto;
  font-size: 16px;
  padding: 1em 5em;
}

.color-band {
  background: #dc6a1e;
  color: white;
}

.full-page {
  margin-top: 46px;
  background: #F5F5F5;
}

/* XXX: replace with a quantum-docs equivalent */
.content {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

/* XXX: replace with a quantum-docs equivalent */
.content.thin {
  max-width: 1000px;
}

.install-link-strip {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.github-icon-container {
  text-align: right;
}

.github-icon {
  opacity: 0.5;
  cursor: pointer;
}

.github-icon:hover {
  opacity: 0.8;
}

.install {
  margin: 0;
  padding: 1.25em;
  text-align: center;
  background: rgba(255, 255, 255, 0.07);
}

.spacer {
  flex: 1;
}

.selling-point-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selling-point {
  margin: 0.7em;
  flex: 1 1 320px;
  text-align: center;
  background: rgba(255, 255, 255, 0.07);
}

.selling-point-title {
  font-weight: 100;
  font-size: 2em;
  padding: 0.5em;
  padding-bottom: 0;
}

.selling-point-text {
  opacity: 0.8;
  padding: 1em;
  font-size: 1.2em;
  max-width: 520px;
  margin: 0 auto;
}

.footer {
  height: 30px;
  padding: 1em 1em;
  background: #252525;
  color: white;
}


.qm-docs-summary-header {
  /* color: #774A8A !important; */
}
.qm-docs-summary-link {
  /*color: #dc6a1e !important;*/
}
.qm-docs-summary-link:hover {
  /*background: #dc6a1e !important;*/
  color: white !important;
}
.qm-docs-pagination-button:focus {
  /*outline: solid 2px #dc6a1e !important;*/
}

.qm-docs-topic-header {
  font-size: 24px !important;
}

.qm-docs-header {
  background: #ffffff !important;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.16);
}

.qm-docs-navication-menu-page {
  /*color: #dc6a1e !important;*/
}

.qm-docs-header-title {
  color: #828282 !important;
}

.qm-html-paragraph {
  line-height: 1.5em;
}

.qm-docs-sidebar {
  background: #f69c26;
}

.qm-docs-notice-header {
  background: #168dea;
}

.qm-docs-notice-body {
  background: #e7f1fe;
}

.qm-api-group-header,
.qm-changelog-head {
  color: #676767;
}
.qm-changelog-head {
  font-size: 32px;
  color: #6b6b6b;
}

.docs-example {
  border: solid 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.docs-example-heading {
  padding: 8px;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  background: #FFF;
}

.docs-example-heading:first-child {
  border-top: none;
}

.docs-example-body-section:not(:last-child),
.docs-example-code-section:not(:last-child),
.docs-example-code-body:not(:last-child) {
  margin-bottom: 0.5em;
}

.docs-example-body-heading,
.docs-example-code-heading {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.docs-example-body,
.docs-example-code {
  padding: 16px;
}

.docs-example-no-background .docs-example-body,
.docs-example-no-background .docs-example-code,
.qm-api-extra .docs-example-body,
.qm-api-extra .docs-example-code {
  background: transparent;
  box-shadow: none;
}

.docs-example-body > :last-child,
.docs-example-code > :last-child {
  margin-bottom: 0;
}


.qm-html-paragraph .docs-example-body {
  line-height: normal;
}

.qm-docs-breadcrumb {
  background: #168dea;
}
