.qm-changelog-javascript-function-params:before {
  content: '(';
}

.qm-changelog-javascript-function-params:after {
  content: ')';
}

.qm-changelog-javascript-function-param:after {
  content: ', ';
}

.qm-changelog-javascript-function-param:last-child:after {
  content: '';
}

.qm-changelog-javascript-function-param-name:after {
    content: ': ';
}

.qm-changelog-javascript-object-name,
.qm-changelog-javascript-function-parent,
.qm-changelog-javascript-function-name {
    font-weight: bold;
}
